.intro img {
  width: 50px;
}

.topic {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}

.topic img {
  width: 265px;
  height: 265px;
  background-color: #d6f2ff;
}

.topic-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.start-button {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  width: 105px;
  height: 30px;
}

.start-button:hover {
  color: greenyellow;
}
