.topic-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 65px;
}

@media screen and (max-width: 455px) {
  .topic-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
