.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.anchor a {
  text-decoration: none;
  margin-right: 15px;
  padding: 2px 5px;
}

.nav-items {
  text-decoration: none;
}
